@page
@model RegisterModel







<section class="signup__section bluar__shape">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-xl-6 col-lg-6">
                <div class="signup__boxes">
                    <h4>
                       ĐĂNG KÍ TÀI KHOẢN
                    </h4>
                    <p class="head__pra">
                        hãy trở thành viên của wheely
                    </p>
                    <form class="signup__form pt__40"  id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                        <div class="row g-4">
                            <div class="col-lg-6">
                                <div class="input__grp">
                                    <label for="fname">Name</label>
                                    <input type="text" id="fname" placeholder="User name" asp-for="Input.FullName"  class="input">
                                    <span asp-validation-for="Input.FullName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="input__grp">
                                    <label for="lname">Số điện thoại </label>
                                    <input type="text" id="lname"  asp-for="Input.PhoneNumber"  class="input" placeholder="Số điện thoại">
                                    <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="input__grp">
                                    <label for="email">Enter Your Email </label>
                                    <input type="email" id="email" asp-for="Input.Email" type="email" class="input" placeholder="Email">
                                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="input__grp">
                                    <label for="password-field" class="form-label">Choose Password</label>
                                    <div class="form-group">
                                        <input id="password-field" type="password" class="form-control" placeholder="Mật khẩu"   asp-for="Input.Password"   >
                                        <span id="#password-field" class="fa fa-fw field-icon toggle-password">
                                          
                                        </span>
                                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="input__grp">
                                    <label for="password-field" class="form-label">Confirm Password</label>
                                    <div class="form-group">
                                        <input id="toggle-password2"  class="form-control"   asp-for="Input.ConfirmPassword" type="password"  placeholder="Xác nhận mật khẩu">
                                        <span id="#toggle-password2" class="fa fa-fw field-icon toggle-password2">
                                            
                                        </span>
                                    </div>
                                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                </div>
                            </div>
                            <input asp-for="Input.Role" type="hidden" value="@DOANCOSO26.Models.Roles.Role_Admin" />


                            <div class="col-lg-12">
                                <div class="input__grp">
                                    <p class="sign-up-label">
                                        Already have an account?<span class="sign-up-link">Log in</span>
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="input__grp mt-2">
                                    <button type="submit" class="cmn__btn" id="registerSubmit" type="submit">
                                        <span>
                                           Đăng kí tài khoản
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-xl-5 col-lg-6">
                <div class="signup__thumb">
                   <img src="~/busjs/assets/img/signup/signup.png" alt="img">
                </div>
            </div>
        </div>
    </div>
</section>